.text{
    font-size: 20px;
}
.main{
    padding: 20px 0px;
}
.color{
    background-color: black;
    color: white;
    border: none;
    padding: 9px;
}
.card{
    width: 100%;
}
.card img{
     width: 100%;
     height: 220px;
     object-fit: cover;
}
button{
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
}
.crousel{
    height: 100%;
}
.img{
    width: 90%;
    height: 90%;
}